@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background:#f2f2f2;
}

.text {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

#header-img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 45%;
}

#nav-bar {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Color for the top navigation */
.topnav {
    position: relative;
    background-color:#0080ff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

/* Right-aligned section inside the top navigation */
.topnav-right a{
    float: right;
    margin-right: auto;
    text-align: center;
}

/* Left-aligned section inside the top navigation */
.topnav-left a {
    margin-left: auto;
}

/* Responsive navigation menu - display links on top of each other instead
of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    body{
        flex-wrap: wrap;
    }
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

#video {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form_inputs {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background: rgb(232, 232, 230);
    border-radius: 2rem;
    width: 300px;
    padding: 5rem;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}

.form_inputs #email {
    margin: 0 auto;
    text-align: center;
    width: 80%
}

.submit_button {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    width: 100%;
    padding: 0.75rem;
    margin: 0.50rem auto 0 auto;
    background: #0039e6; 
    color: white;
    border-radius: 2px;
    cursor: pointer;
}